<h4>Listing Details</h4>

Date Listed:
<%= localdate @listing %><br><br>

Property Location:<br>
<%= @listing.street %><br>
<%= @listing.city %>,
<%= @listing.state %>
<%= @listing.zip_code %><br><br>

Property Type:
<%= @listing.property_type %><br>
Number of Bedrooms:
<%= @listing.bedrooms %><br>
Number of Bathrooms:
<%= @listing.bathrooms %><br><br>

List Price:
<%= number_to_currency(@listing.list_price, precision: 0) %>
<br>

<%= link_to 'Edit', edit_listing_path %><br>
<%= link_to 'Delete', listing_path(@listing), method: :delete %>