<h4>Buyer Details</h4>
Name:
<%= @buyer.name %><br>
Email:
<%= @buyer.email %><br>
<%= link_to "Show Appointments", buyer_appointments_path(@buyer) %><br>
<%= link_to "New Appointment", new_buyer_appointment_path(@buyer) %><br>
<br>
<%= link_to 'Edit Buyer', edit_buyer_path %><br>
<%= link_to 'Delete Buyer', buyer_path(@buyer), method: :delete %>
